<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= user.username %>'s <%= title %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <h3 class="h5" style="margin-right: 5px;">Quick Add transaction: </h3>
      <div class="btn-group me-2">
        <a class="btn btn-sm btn-secondary fw-bold bg-white" aria-current="page" href="/dashboard/all/new">New</a>
      </div>
    </div>
</div>